*{
	margin:0 auto;
}
.all{
	height:700px;
	margin:20px;
	padding:50px;
	background:#0e5c68;
}
.al{
	height:1000px;
	margin:20px;
	padding:50px;
	background:#0e5c68;
}

.wrapper{
	width:750px;
	height:500px;
	background:#57bfc1;
}
.wrapperr{
	width:750px;
	height:800px;
	background:#57bfc1;
}
.wrapper1{
	margin-top:20px;
	width:750px;
	height:600px;
	background:#57bfc1;
}
.main_content{
	width:60%;
}
.header {
	background:#4A4944;
	color:#E2D5CC;
	
	
}
.header h4{
	padding:10px;
	font-size:20px;
	text-align:center;
}
.n{
	text-align:left;
	margin:5px;
}
.search{
	width:310px;
}
.tabs_style li a{
	color:#DE5A24;
	font-size:16px
}
.tabs_color h4{
	color:#4A4944;
	font-size:15px
}
.main_info{
	background:white;
	width:440px;
}
.editing_info{
	background:#F6F6F6;
	margin-top:20px;
	margin-left: -16px;
    margin-top: 20px;
	width:442px;
	padding:20px;
	padding-bottom:25px
}
.nav_tabs{
	margin-bottom:15px
}
.bottom_tab{
	padding-bottom:10px
}
.button{
	text-align:center;
	margin-top:15px;
	color:#DBEAF9
}

.container{
	width:1500px;
	
}

.ab{
	padding:30px;
	background:#0b4971;
	
}
.h{
	
	text-align:left;
	margin-top:15px;
	width:1300px;
	font-size:15px

}

.a{
	float:left;
	text-align:center;
	font-size:25px;
}
.b{
	margin-left:;
	font-size:15px;
}
.form {
  display: none;
  padding: 40px;
  display: block;
}